/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.cardWrapper {
  margin-top: 18px;
} */

.section {
  background-color: var(--color-black);
  padding: 20px 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-white);
}

.toggle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  color: var(--color-primary);
  background-color: var(--color-black);
  border: none;
  cursor: pointer;
}

.sectionGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  color: var(--color-white);
}
