.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 12px;
  cursor: pointer;
  width: 170px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: center;
}
