.album {
  background-color: var(--color-black);
  padding: 20px;
}

.albumHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.albumTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 10px;
}

.albumShowAll {
  color: var(--color-primary);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  cursor: pointer;
}

.albumCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
